<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings><add name="NORTHWNDEntities" connectionString="metadata=res://*/NorthWND.csdl|res://*/NorthWND.ssdl|res://*/NorthWND.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1300845-NB\MSSQLSERVER2012;initial catalog=NORTHWND;persist security info=True;user id=sa;password=PA$$word;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
                     <add name="CTCI_MH_DBEntities" connectionString="metadata=res://*/MH.csdl|res://*/MH.ssdl|res://*/MH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ctnts3x;initial catalog=CTCI_MH_DB;persist security info=True;user id=mhuserfortest;password=frank;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>