<!DOCTYPE HTML>
<html>
<head>
    <title>黑羊支付數據報表</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
    <script>
        @if (TempData["Message"] != null)
        {
            <text>alert('@TempData["Message"]')</text>
        }
    </script>
</body>
</html>
