<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
  <add name="NORTHWNDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=1300845-NB\MSSQLSERVER2012;initial catalog=NORTHWND;persist security info=True;user id=sa;password=PA$$word;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>