@model IEnumerable<KendoUI.Model.Customers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BaseLayoutPage.cshtml";
}

@section scripts{
    
    <script type="text/javascript">
        $(function () {

            //用Ajax讀取資料
            var dataSrc = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/GridAjax/GetCustomer",
                        datatype: "json",
                        type: "POST",
                        complete: function (response, status) {

                            if (response.responseJSON.ErrorCode == -1) {

                                alert(response.responseJSON.ErrorMessage);
                            }
                        }
                    },
                    create: {
                        url: "/GridAjax/CreateCustomer",
                        datatype: "json",
                        type: "POST",
                        complete: function (response, status) {

                            alert(response.responseJSON);
                        }
                    },
                    update: {
                        url: "/GridAjax/EditCustomer",
                        datatype: "json",
                        type: "POST",
                        complete: function (response, status) {

                            alert(response.responseJSON);
                        }
                    },
                    destroy: {
                        url: "/GridAjax/DeleteCustomer",
                        datatype: "json",
                        type: "POST",
                        complete: function (response, status) {

                            alert(response.responseJSON);
                        }
                    }
                },
                schema: {
                    data: function (d) {
                        
                        //console.log(d);
                        return d.data;
                    },
                    total: function (d) { return d.total; },
                    model: {
                        id: "CustomerID",
                        fields: {
                            product: { editable: false, nullable: false },
                            CompanyName: { validation: { required: true } },
                            ContactName: { validation: { required: true } },
                            City: { validation: { required: true } }
                        }
                    }
                },
                pageSize: 20,
                serverPaging: true,
                serverSorting: true

            });

            $("#gridData").kendoGrid({

                dataSource: dataSrc,
                columns: [//對應到customer資料表的欄位
                    { field: "CustomerID", title: "CustomerID" },
                    { field: "CompanyName", title: "CompanyName" },
                    { field: "ContactName", title: "ContactName" },
                    { field: "City", title: "City" },
                    { command: ["edit","destroy"], title: "&nbsp;", width: "160px" }

                ],
                sortable: true,
                pageable: true,
                filterable: true,
                selectable: "multiple",
                scrollable: true,
                height: '600px',
                width: '800px',
                toolbar:["create"],
                editable: {
                    mode: "inline", //popup mode, the other is inline mode
                    update:true, //true:press 'update' then update data
                }
            });
        });            
    </script>
}

<div id="gridData"></div>