@model IEnumerable<KendoUI.Model.Customers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BaseLayoutPage.cshtml";
}

@section scripts{
    
    <script type="text/javascript">
        $(function () {

            //用Ajax讀取資料
            var dataSrc = new kendo.data.DataSource({
                transport: {
                    read: {
                        type: "POST",
                        url: "/GridAjax/GetCustomer",
                        datatype: "json"

                    }
                },
                schema: {
                    data: function (d) {
                        
                        //console.log(d);
                        return d.data;
                    },
                    total: function (d) { return d.total; }
                },
                pageSize: 20,
                serverPaging: true,
                serverSorting: true

            });

            $("#gridData").kendoGrid({

                dataSource: dataSrc,
                columns: [//對應到customer資料表的欄位
                    { field: "CustomerID", title: "CustomerID" },
                    { field: "CompanyName", title: "CompanyName" },
                    { field: "ContactName", title: "ContactName" },
                    { field: "City", title: "City" }

                ],
                sortable: true,
                pageable: true,
                filterable: true,
                selectable: "multiple",
                scrollable: true,
                height: '600px',
                width: '800px'

            });
        });            
    </script>
}

<div id="gridData"></div>